body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*jquery validator*/
.validateTips { border: 1px solid transparent; padding: 0.3em; }

ul
{
	list-style-type: none;
}

label.error { color: red; padding:7px 5px; display:none !important; }

/*style para los divs de los iconos.*/
.icons {margin: 0; padding: 0; float:left; margin-left:5px;}
.icons div {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left; list-style: none;}
.icons span.ui-icon {float: left; margin: 0 4px;}

.cajaForgot h6
{
    margin:10px 0px;
    
}

.cajaForgot h6 a
{
    color:#3383BB !important;
}

.cajaForgot h6 a:hover
{
    color:#599FCF !important;
}

.caja-checkBoxTexto h3
{
    margin:0px;
}

.caja-checkBoxTexto input
{
    margin:10px;
}

input.text
{
    padding:7px 5px;
    width:200px;
}
select
{
    padding:7px 5px;
    width:200px;
}

.watermark 
{
    color: #999 !important;
}

input.error
{
    border: 2px solid red;
}

.tooltip {
	display:none;
	background:transparent url(themes/images/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}